body{
    background-color: #F1F1F1;
}

.container{

}

.row{
    display: flex;
    justify-content: space-between;
}

.card{
   width: 260px;
   height: 400px;
   background-color: white;
   border-radius: 12px;
    padding: 2px 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.card img{
    width: 100%;
    height: 60%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart{
    font-size: 24px;
    padding: 8px;
    border-radius: 100%;
    background-color: white;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.count{
    font-size: 14px;
    background-color: red;
    border-radius: 100%;
    color: white;
    width: 20px;
    height: 20px;
    padding: 2px;
    position: absolute;
    top: -10px;
    right: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}